<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Produk</title>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap.css">
        <link href="assets/css/admin.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">TECH MECHANIC</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>

                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="/user">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                User
                            </a>
                            <a class="nav-link" href="/product">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Produk
                            </a>
                            <a class="nav-link" href="/team">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Team
                            </a>
                            <a class="nav-link" href="/pesan">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                 Pesan
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">PRODUK</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Produk</li>
                        </ol>
                        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Tambah Produk</button>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Data Produk
                            </div>
                            <div class="card-body">
                           
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="mytable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nama Produk</th>
                                                <th>Harga Produk</th>
                                                <th>Deskripsi Produk</th>
                                                <th>Tindakan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             {{#each results}}
                                                <tr>
                                                    <td>{{nama_product}}</td>
                                                    <td>{{ harga_product }}</td>
                                                    <td>{{ deskripsi_product }}</td>
                                                    <td>
                                                        <div class="text-center">
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-info edit"
                                                                data-id="{{ id_product }}" data-nama_product="{{ nama_product }}"
                                                                data-harga_product="{{ harga_product }}"
                                                                data-deskripsi_product="{{ deskripsi_product }}">Edit</a>
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete"
                                                                data-id="{{ id_product }}">Delete</a>
                                                        </div>
                                                        
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>



                 <!-- Add New Product User-->
                <form action="/saveproduct" method="post">
                    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Produk</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name">Nama Produk</label>
                                        <input type="text" id="name" name="nama_product" class="form-control"
                                         required>
                                    </div>

                                    <div class="form-group">
                                        <label for="harga_product">Harga Produk</label>
                                        <input type="text" id="harga_product" name="harga_product" class="form-control"
                                        required>
                                    </div>

                                    <div class="form-group">
                                        <label for="deskripsi_product">Deskirpsi Produk</label>
                                        <textarea name="deskripsi_product" class="form-control" id="deskripsi_product" cols="30" rows="5" required></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

           <!-- Edit Product Modal-->
                <form action="/updateproduct" method="post">
                    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Produk</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name">Nama Produk</label>
                                        <input type="text" id="nama_product" name="nama_product" class="form-control"
                                         required>
                                    </div>

                                    <div class="form-group">
                                        <label for="harga_product">Harga Produk</label>
                                        <input type="text" id="harga_product" name="harga_product" class="form-control"
                                        required>
                                    </div>

                                    <div class="form-group">
                                        <label for="deskripsi_product">Deskirpsi Produk</label>
                                        <textarea name="deskripsi_product" class="form-control" id="deskripsi_product" cols="30" rows="5" required></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="id" class="id_product1">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Delete Product Modal-->
                <form id="add-row-form" action="/deleteproduct" method="post">
                    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Delete User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <strong>Are You Sure To Delete This Data?</strong>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="id_product" class="form-control id_product2" required>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>


        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="assets/js/scripts.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/js/datatables-demo.js"></script>


        <!-- Menu Toggle Script -->
        <script>
            var rupiah = document.getElementById('harga_product');
            rupiah.addEventListener('keyup', function (e) {
                rupiah.value = formatRupiah(this.value, 'Rp ');
            });

            function formatRupiah(angka, prefix) {
                var number_string = angka.replace(/[^,\d]/g, '').toString(),
                    split = number_string.split('.'),
                    sisa = split[0].length % 3,
                    rupiah = split[0].substr(0, sisa),
                    ribuan = split[0].substr(sisa).match(/\d{3}/gi);

                if (ribuan) {
                    separator = sisa ? '.' : '';
                    rupiah += separator + ribuan.join('.');
                }
                rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
                return prefix == undefined ? rupiah : (rupiah ? 'Rp ' + rupiah : '');
            }
        </script>

        <!-- Menu Toggle Script -->
        <script>
            var rupiah = document.getElementById('harga_product');
            rupiah.addEventListener('keyup', function (e) {
                rupiah.value = formatRupiah(this.value, 'Rp ');
            });

            function formatRupiah(angka, prefix) {
                var number_string = angka.replace(/[^,\d]/g, '').toString(),
                    split = number_string.split('.'),
                    sisa = split[0].length % 3,
                    rupiah = split[0].substr(0, sisa),
                    ribuan = split[0].substr(sisa).match(/\d{3}/gi);

                if (ribuan) {
                    separator = sisa ? '.' : '';
                    rupiah += separator + ribuan.join('.');
                }
                rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
                return prefix == undefined ? rupiah : (rupiah ? 'Rp ' + rupiah : '');
            }
        </script>

         <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $(document).ready(function () {
                //showing data to modal for edit record
                $('#mytable').on('click', '.edit', function () {
                    var id_product = $(this).data('id');
                    var nama_product = $(this).data('nama_product');
                    var harga_product = $(this).data('harga_product');
                    var deskripsi_product = $(this).data('deskripsi_product');
                    $('#EditModal').modal('show');
                    $('.nama_product').val(nama_product);
                    $('.harga_product').val(harga_product);
                    $('.deskripsi_product').val(deskripsi_product);
                    $('.id_product1').val(id_product);
                });
                //showing modal for delete record
                $('#mytable').on('click', '.delete', function () {
                    var id_product = $(this).data('id');
                    $('#DeleteModal').modal('show');
                    $('.id_product2').val(id_product);
                });

            });
        </script>


    </body>
</html>
